{% extends "attendance/base.html" %}
{% block title %}Site list{% endblock %}
{% block content%}
<div class="flex flex-col items-center min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl w-full space-y-8">
    <div class="mt-4">
        <a href="{% url 'add_worker' %}" class="mr-4 hover:text-gray-200 transition duration-300">Add Worker</a>
        <a href="{% url 'site_list' %}" class="mr-4 hover:text-gray-200 transition duration-300">View Sites</a>
        <a href="{% url 'record_attendance' %}" class="mr-4 hover:text-gray-200 transition duration-300">Record Attendance</a>
        <a href="{% url 'record_advance_payment' %}" class="mr-4 hover:text-gray-200 transition duration-300">Record Advance Payment</a>
        <a href="{% url 'calculate_salary' %}" class="hover:text-gray-200 transition duration-300">Calculate Salary</a>
    </div>
    
    <h1>Sites</h1>
    <a href="{% url 'add_site' %}">Add Site</a>
    <ul>
        {% for site in sites %}
            <li>{{ site.name }} - {{ site.location }}</li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock%}
