{% extends 'base.html' %}
{% load static %}

{% block title %}Services - SP Construction{% endblock %}

{% block content %}
<div class="relative isolate px-6 pt-14">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl py-32 sm:py-48 lg:py-56 ">
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Our Services</h1>
            <p class="text-lg leading-8 text-gray-600">
                At SP Construction, we are dedicated to providing comprehensive services that cater to all aspects of road construction. Our offerings are designed to ensure the highest quality and efficiency in every project we undertake.
            </p>

            <div class="relative bg-cover bg-center h-full py-20" style="background-image: url('{% static 'static/img/Construction-bg.jpg' %}')">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="bg-transparent p-8 md:p-12 rounded-lg shadow-lg">
                        <h3 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-6xl font-">Road Construction Services</h3>
                        <p class="mt-4 text-lg leading-8 text-gray-600">
                            Our team of experienced professionals excels in constructing durable and sustainable roads. We utilize state-of-the-art techniques and equipment to ensure that our road construction services meet the highest standards of safety and quality. Whether it's highways, urban roads, or rural pathways, SP Construction delivers excellence in every project.
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div class="mt-10 rounded-lg shadow-md w-full p-2">
                
                <h3 class="text-2xl font-semibold text-gray-900">Provision of Raw Materials</h3>
                    <div class="flex justify-center mt-4 space-x-4">
                        

                        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-2">
                            <a href="#">
                                <img class="rounded-t-lg" src="static/img/project1.jpg" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Aggregates</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Crushed stone, gravel, and sand.</p>
                            </div>
                        </div>

                        

                        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-2">
                            <a href="#">
                                <img class="rounded-t-lg" src="static/img/project1.jpg" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Asphalt</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">High-grade asphalt mix for smooth and durable road surfaces.</p>
                            </div>
                        </div>

                        

                        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-2">
                            <a href="#">
                                <img class="rounded-t-lg" src="static/img/project1.jpg" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Bitumen</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Premium bitumen for binding and waterproofing applications.</p>
                            </div>
                        </div>

                    </div>
                
                    
            

            </div>
                <div class="mt-10 text-center">
                    <a href="#" class="rounded-md bg-indigo-600 px-5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get a Free Quote</a>
                </div>
            </div>

        </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
</div>
{% endblock %}
